
/*GENERICOS---------------------------*/

body{
    color: #dadada;
    background: black;
}

.disabled{
	pointer-events: none;
	opacity: 0.5;
}

.input-lg{
  background: #1b1b1b;
  border-color: #5a5a5a;
  color: #d8d8d8;
  border-radius: 0;
  padding-left:5px!important;
  padding-right:5px;
}

.input-group-addon{
  background: #595959;
  border-color: #585858;
  color: #979797;
}

select{
	padding-left:3px!important;
}

hr{
  border-color: #595959;
}

.red{
	color:red;
}

.col-2{
  width: calc(50% - 2px);
  display: inline-block;
  vertical-align: top;
  padding-left: 2px;
}

.col-first{
padding-left:0;
}

/*PRINCIPAL---------------------------*/

#apartados{
	list-style: none;
	padding: 10px 10px 77px;
	margin: 0;
}

	#apartados > li{
		/* border-bottom: 1px solid lightgray; */
		position: relative;
		height: 70px;
		padding: 0;
		line-height: 27px;
		font-size: 18px;
		background: #222222;
		margin-bottom: 8px;
		border-radius: 0;
		box-shadow: 0 2px 6px rgba(0,0,0,.2);
	}

  #apartados > li.red, #apartados > li.red i.transaction{
    background: #6c0d0d!important;
  }
  #apartados > li.yellow, #apartados > li.yellow i.transaction{
    background: #5f4905!important;
  }

	#apartados li .info{
		height: 100%;
		padding: 6px 0 0 60px;
		width: calc(100% - 85px);
	}

	#apartados li.imprevisto .ingreso{
		display: none;
	}

		#apartados .nombre{
		    color: rgba(255,255,255,0.3);
		}
		#apartados .imprevisto .nombre{
			margin-top: 13px;
		}

		#apartados .nombre i{text-align: center;font-size: 34px;position: absolute;left: 3px;top: 17px;width: 53px;
      color: rgba(255,255,255,0.3);
    }

		#apartados .saldo{
			font-size: 24px;
		}
		#apartados .imprevisto .saldo{
			display: none;
		}
		#apartados .saldo.negativo{
			color: #F44336;
		}

		#apartados i.gasto, #apartados i.ingreso{
			position: absolute;
			top: 13px;
			font-size: 45px;
		}

		i.ingreso{
			right: 92px;
			color: #4CAF50;
		}
		i.gasto{
			right: 35px;
			color: #F44336;
		}

		#apartados .opciones{
			position: absolute;
			right: 2px;
			top: 19px;
			width: 32px;
			height: 32px;
			text-align: center;
			line-height: 34px;
		}


	#apartados small{
		background: #ececec;
		border-radius: 3px;
		text-align: center;
		margin-left: 6px;
		margin-top: -4px;
		font-size: 12px;
		vertical-align: middle;
		display: inline-block;
		min-width: 12px;
		height: 16px;
		line-height: 17px;
		padding: 0 3px;
	}
	#apartados small.alerta{
		color: white;
	    background: #f44336;
	}

	/* Todos los movimientos */
	#apartados .todo{
		background: #efefef;
	}

		#apartados .todo .info{
			width: calc(100% - 40px);
			line-height: 55px;
		}


.opciones ul{
	display: none;
	position: absolute;
	background: #000000;
	padding: 0;
	margin: 0;
	list-style: none;
	right: -2px;
	top: 35px;
	z-index: 2;
	padding: 5px 0;
	box-shadow: 0 4px 30px rgba(0,0,0,.3);
	border-radius: 4px;
}


	.opciones ul li{
		padding: 4px 16px;
		min-width: 200px;
		text-align: left;
		white-space: nowrap;
	}

.quitar-desplegado{
	display: none;
    background: blue;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}


/*MOVIMIENTOS---------------------------*/

#movimientos h3{
	padding: 10px;
	padding-left: 13px;
	margin: 0;
	text-align: center;
	border-bottom: none;
	position: fixed;
	width: 100%;
	height: 50px;
	line-height: 31px;
	background: rgba(0, 0, 0, 0.72);
	z-index: 3;
	font-size: 24px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

#movimientos h3 small{
	display: none;
}

#movimientos .footer .ingreso, #movimientos .footer .gasto{
	font-size: 40px;
	position: absolute;
	top: 13px;
}

#movimientos .ingreso{
	right: 65px;
}

#movimientos .gasto{
	right: 13px;
}

#movimientos #lista > li{
	min-height: 50px;
	font-size: 18px;
	position: relative;
	line-height: 18px;
	background: #222222;
	margin-bottom: 6px;
	border-radius: 4px;
	padding-left: 12px;
	padding-bottom: 3px;
	padding-top: 6px;
	/* box-shadow: 0px 1px 3px rgba(0,0,0,0.2); */
	vertical-align: top;
}
#movimientos #lista > li.highlighted{
	background: #313e4d;
}

	#lista{
		padding: 54px 5px 3px;
		margin: 0;
		list-style: none;
	}

	#movimientos #lista li .etiqueta{
		font-size: 12px;
		background: #666666;
		display: inline-block;
		color: white;
		border-radius: 3px;
		padding: 0px 3px 0px;
		line-height: 16px;
		margin-right: 4px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}

	#movimientos #lista li .area{
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: calc(100% - 34px);
	    z-index: 1;
	}

	#movimientos #lista li .method{
		display: inline-block;
		margin-right: 5px;
		font-size: 14px;
		vertical-align: middle;
	}

	#movimientos #lista li .fecha{
		font-size: 16px;
		color: #9E9E9E;
		display: inline-block;
		vertical-align: middle;
	}

	#movimientos #lista li .main-line{
		line-height: 19px;
		display: block;
		width: calc(100% - 160px);
	}

		#movimientos #lista li .descripcion n{
			color: #9E9E9E;
			font-size: 16px;
			display: none;
		}
		#movimientos[apartado="Prestamos"] #lista li .descripcion n{
			display: block;
		}
		#movimientos #lista li .descripcion n:before{
			content: "-Limite de pago: ";
		}

	#movimientos #lista li .abono{
		font-size: 16px;
		color: #4CAF50;
		width: calc(100% - 160px);
	}
	#movimientos #lista li .abono .gris{
		color: #9E9E9E;
	}

	#movimientos #lista li .cantidad{
		right: 35px;
		top: 16px;
		text-align: right;
		position: absolute;
		font-size: 24px;
	}

	#movimientos #lista li .ingreso{
		color: #4CAF50;
	    pointer-events: none;
	}
	#movimientos #lista li .cantidad.ingreso:before{
		content: "$+";
	}

	#movimientos #lista li .gasto{
	    color: #F44336;
	}
	#movimientos #lista li .cantidad.gasto:before{
		content: "$-";
	}

	#movimientos #lista li .opciones{
		position: absolute;
		right: 2px;
		top: 10px;
		width: 32px;
		height: 32px;
		text-align: center;
		line-height: 34px;
	}

	#movimientos #lista .fa-trash{width: 40px;height: 40px;text-align: center;line-height: 36px;position: absolute;top: 7px;right: 2px;}

/*Cuentas Ahorro*/
#movimientos #cuentas{padding: 0!important;}

	#movimientos #cuentas ul{padding: 0;list-style: none;margin-bottom: -1px;background: #f9f9f9;}

		#movimientos #cuentas ul li{padding: 5px 16px;border-bottom: 1px solid lightgray;}

			#movimientos #cuentas span.nombre{width: 50%;display: inline-block;}

			#movimientos #cuentas span.total{display: inline-block;width: 50%;text-align: right;}


/*PANTALLAS---------------------------*/

.pantalla {
    background: black;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.pantalla.modal {
    height: 100vh;
    background-color: transparent;
    z-index: 4;
}
.pantalla.modal p {
    font-size: 18px;
    margin: 2px 5px 0px;
    line-height: 21px;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    /* background: #303030; */
    /* position: absolute; */
}
.modal-holder {
    width: calc(100% - 30px);
    max-width: 350px;
    min-height: initial;
    position: static;
    background-color: #303030;
    border-radius: 10px;
    pointer-events: all;
    padding-top: 15px;
    width: 100%;
    border-radius: 0;
    max-width: 500px;
}
.pantalla.modal .body {
    min-height: initial;
    height: auto;
    padding: 0 15px 0;
    background: transparent;
    /* max-height: 158px; */
    overflow: auto;
}
	.pantalla.modal .body .auxiliar{
		margin-top: 5px;
    	margin-bottom: -2px;
	}
.pantalla.modal .footer {
    padding: 10px 10px 10px;
    text-align: center;
}
.pantalla.modal .footer .btn {
    width: calc(50% - 8px);
    margin: 0 2px;
    border-radius: 0;
}
.pantalla.modal .footer .btn.solitario{
	width: 100%;
}

/*Pantalla Completa*/

.pantalla.completa{
	display: none;
}

.pantalla.completa .body{
    padding-bottom: 66px;
}

.pantalla.completa .footer{
	position: fixed;
	background: white;
	width: 100%;
	padding: 10px 12px;
	bottom: 0;
	border-top: none;
	background: rgba(0, 0, 0, 0.72);
	z-index: 3;
}


/*Version*/

.version{
	padding: 23px 0;
    text-align: center;
    color: gray;
    background: whitesmoke;
}

/*Colores iconos*/



/*Loader*/

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 5;
    color: white;
    font-size: 80px;
    display: none;
}

/*Atajos*/

.atajos{
	margin-top: 5px;
}

	.atajos .btn{
		margin-top: 5px;
		margin-right: 5px;
		background: whitesmoke;
	}



/*MENU---------------------------*/

#menu-btn{
	position: fixed;
	bottom: 12px;
	right: 12px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	background: #E80132;
    color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 62px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.4);
}


.desplegado{
	list-style: none;
	background-color: #000000;
	position: fixed;
	bottom: 59px;
	right: 9px;
	width: 250px;
	text-align: left;
	margin: 0;
	border-radius: 7px;
	padding: 10px 0;
	display: none;
	z-index: 10;
	box-shadow: 0 4px 30px rgba(0,0,0,.3);
}

	.desplegado:after {
	    /* content: ""; */
	    width: 12px;
	    height: 12px;
	    background: white;
	    border-left: none;
	    border-top: none;
	    position: absolute;
	    right: 17px;
	    margin-left: -7.5px;
	    bottom: -6px;
	    transform: rotate(45deg);
	    box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.2)!important;
	}

	.desplegado ul{
		margin: 0;
    	padding: 0;
	}

		.desplegado a{
			text-decoration: none;
			color: inherit;
		}

		.desplegado li{
			padding: 8px 2px;
			font-size: 20px;
			display: inline-block;
			width: 100%;
			cursor: pointer;
		}

			.desplegado li i{
				color: #787878;
			}


		.desplegado small{
			color: gray;
		}

.quitar-desplegado{
	height: 100vh;
	width:100%;
	display: none;
	opacity: 0.5;
	/*background: blue;*/
}


#menu{
    width: 300px;
    right: 14px;
    padding: 10px 15px;
    bottom: 79px;
}

/*REPORTES---------------------------*/

.reporte .body{
    padding: 15px 15px 80px;
}

td.ingreso{
    color: #4CAF50;
}
td.gasto{
    color: #F44336
}
td.avance{
	color: #337ab7;
}

.reporte table{
	font-size: 16px;
}

/*Totales ingresos y gastos*/

#reporte .input-lg{
	margin-bottom: 10px;
}

#reporte table{
	margin-top: 20px;
	font-size: 14px;
}

/*Gastos fijos*/

#reporte-gastos-fijos tr td:first-child{
	width: 60%;
}

#reporte-gastos-fijos ul{padding-left: 15px;margin: 0;font-size: 14px;}

/*PASSWORD---------------------------*/

#password{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #e80032;
	z-index: 1000;
	display: none;
}

	#password ul{
		padding: 0;
		margin: 0;
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -150px;
	}

		#password li{
			width: 70px;
			height: 50px;
			font-size: 35px;
			background: white;
			color: #e90132;
			display: inline-block;
			margin: 0 2px 10px;
			line-height: 48px;
		}

	#password img{
		width: 130px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -65px;
		margin-top: -200px;
	}


*Teclados*/

.contendor-teclado{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 303px;
    background: white;
}

	.contendor-teclado #entrada-tabs{
		padding: 0;
	    list-style: none;
	    margin: 0;
	    width: 100%;
	    display: flex;
	    z-index: 1;
	}

	.contendor-teclado .tab-content{
	    background-color: white;
    	width: 100%;
	}

.teclado{
	list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

	.teclado.numerico{
		padding-top: 16px;
	}

	.teclado.alfabetico{
		width: 100%;
		height: 180px;
		padding: 0 0;
	}

	.teclado li{
		display: inline-block;
		background-color: #f3f3f3;
		cursor: pointer;
		color: black;
	}
	.teclado li:active{
		transform: translateY(2px);
	}

	.teclado.numerico li{
	    width: 25%;
	    padding: 2px 0;
	    margin: 0 2px 7px;
	    font-size: 25px;
	    text-align: center;
	}

	.teclado.alfabetico li{
		width: 8.5%;
		height: 40px;
		margin: 0 0px 7px;
		font-size: 21px;
		text-align: center;
		line-height: 39px;
	}

	.teclado li.espaciado{
		width: calc(100% - 145px);
	}

	.teclado.alfabetico li.borrar{
		width: 13%;
	}

	.teclado li.hueco{
		width: 13%;
		visibility: hidden;
	}

	.contendor-atajos{
	    height: 200px;
	    padding: 5px 10px 1px;
	    margin-bottom: 5px;
	}

		.atajos{
			list-style: none;
		    text-align: center;
		    color: black;
		    margin: 0;
		    padding: 0;
		}

			.atajos li{
			    background: #f3f3f3;
			    padding: 3px 10px 3px;
			    display: inline-block;
			    font-size: 19px;
			    margin: 0 3px 7px;
			}


/*NEW TRANSACTION*/

/*Action buttons*/
#newExpense, #newIncome, #modifyRecord{
	display: none;
}

.newExpense #newExpense{
	display: inline-block;
}

.newIncome #newIncome{
	display: inline-block;
}

.newModify #modifyRecord{
	display: inline-block;
}

.newIncome #newIncome{
	display: inline-block;
}

.modifyRecord #modifyRecord{
	display: inline-block;
}


/*Cancel buttons*/

#transaction .cancel{
	display: none;
}

.btn-default{
  background: #4e4e4e;
  color: white;
  border: #565656;
  border-radius: 0;
  min-width: 150px;
}
.btn-default:hover{
  background: #4c4c4c;
  color: white;
}

.newExpense .cancel.new-record{
	display: inline-block!important;
}
.newIncome .cancel.new-record{
	display: inline-block!important;
}

.newModify .cancel.modify-record{
	display: inline-block!important;
}

/*Checkbox*/
.pantalla.modal .checkbox{
    margin-bottom: 10px;
    margin-top: 15px;
}

.pantalla.modal .checkbox{
    margin-bottom: 10px;
    margin-top: 19px;
}

	.pantalla.modal .checkbox input{
	    font-size: 17px;
	    position: relative;
	    top: 2px;
	}

/*Tabs */

#transaction .tabs{
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #303030;
	margin-bottom: -5px;
	margin-top: 0px;
	position: relative;
	top: -16px;
	z-index: 1000;
	height: 41px;
}

	#transaction .tabs li{
		float: left;
		height: 40px;
		width: 50%;
		text-align: center;
		font-size: 18px;
		line-height: 40px;
		color: #333;
		overflow: hidden;
		background: #585858;
		color: white;
	}
	#transaction .tabs .left{
		border-radius: 10px 0 0 0;
		border-radius: 0;
	}
	#transaction .tabs .right{
		border-radius: 0 10px 0 0;
		border-radius: 0;
	}
	#transaction .tabs .full{
		border-radius: 10px 10px 0 0;
		width: 100%;
	}
	#transaction .body{
		overflow: initial;
		height: auto;
	}

	/*expense*/
	#transaction.newExpense .tabs .expense{
		color: white;
		background: #d9534e;
	}
	#transaction.newExpense .tabs .modify{
		display: none;
	}

	/*income*/
	#transaction.newIncome .tabs .income{
		color: white;
		background: #4CAF50;
	}
	#transaction.newIncome .tabs .modify{
		display: none;
	}

	/*modify*/
	#transaction.newModify .tabs .modify{
		color: white;
		background: #337ab7;
	}
	#transaction.newModify .tabs .expense{
		display: none;
	}
	#transaction.newModify .tabs .income{
		display: none;
	}

  #transaction .form-group{
    margin-bottom: 7px;
  }

/*TRANSACTION*/

i.transaction{
	position: absolute;
	font-size: 45px;
	border-radius: 100%;
	padding: 1px 0 0 0px;
	color: #dadada;
	background: #222222;
}

#apartados i.transaction{
	top: 11px;
	right: 32px;
}

#movimientos i.transaction{
	right: 16px;
}

#remaining{
	margin-top: 3px
}

/*METHODS*/

#methods{
  list-style: none;
  padding: 10px 7px 0 9px;
  margin: 0;
  margin-bottom: -10px;
}

	#methods li{
		width: calc(33.3333% - 5px);
		background: #1e1e1e;
		margin: 0px 1px 4px;
		display: inline-flex;
		padding: 5px 3px 5px;
		text-align: center;
		/* border: 1px solid #cccccc; */
		line-height: 15px;
		height: 51px;
		vertical-align: text-bottom;
		flex-direction: column;
		justify-content: center;
		font-size: 12px;
	}
	#methods li.disabled{
		opacity: .5;
	}

		#methods li i{
			display: inline-block;
			font-size: 14px;
			margin-top: 1px;
		}

		#methods li .name{
			margin-top: -1px;
			margin-bottom: -2px;
			display: inline-block;
		}
		
		#methods li .amount.negative{
			color: #F44336;
		}

		#methods li.regular{
			display: inline-block;
			padding: 3px 3px 5px 36px;
			line-height: 15px;
			height: 38px;
			vertical-align: text-bottom;
			text-align: left;
			position: relative;
		}
	
			#methods li.regular i{
				display: inline-block;
				font-size: 20px;
				position: absolute;
				top: 8px;
				left: 6px;
				width: 33px;
			}
	
			#methods li.regular .name{
				margin-top: 0px;
			}
			
			#methods li.regular .amount{
				font-size: 16px;
			}

			#methods li.Account{
				display: inline-block;
				padding: 3px 3px 5px 37px;
				line-height: 15px;
				vertical-align: text-bottom;
				text-align: left;
				position: relative;
			}
		
				#methods li.Account i{
					display: inline-block;
					font-size: 20px;
					position: absolute;
					top: 15px;
					left: 6px;
					width: 33px;
				}
		
				#methods li.Account .name{
					margin-top: 0px;
				}
				
				#methods li.Account .amount{
					font-size: 15px;
				}


			.realAmount{
				/* font-size: 11px; */
				margin-top: 1px;
				}
			  .realAmount.red{
				color: #F44336;
			  }

#methods li#balance{
  width: calc(66.6666% - 4px);
  line-height: 13px;
  padding-top: 3px;
}
  #methods li#balance > div {
      text-align: left;
      margin: 0 auto;
      padding: 0 0 0 10px;
  }
  #methods li#balance .balance{
    border-top: 1px solid white;
    padding-top: 0px;
    margin-top: 2px;
  }

    #methods li#balance > div i{
        font-size: 13px;
        /* background: red; */
        width: 17px;
        text-align: center;
        opacity: .5;
        margin-right: 2px;
    }

    #methods li#balance > div .Label{
      width: 47px;
      /* background: green; */
      display: inline-block;
      font-size: 11px;
    }

    #methods li#balance > div .amount{
      min-width: 65px;
      display: inline-block;
      text-align: left;
    }

    #balance .red{
      color:#F44336;
    }

.fa-money-check-alt{
	color: #f44336;
}
.fa-coins{
	color: #7c7c7c;
}
.fa-credit-card{
	color: #2196f3;
}
.fa-credit-card.pink{
	color: #ff83b6;
}
.fa-credit-card.respaldo{
	color:gray;
}
.fa-credit-card.silver{
	color: #00bcd4;
}
.fa-piggy-bank{
	color: red;
}
.fa-chart-line{
	color: #08b620;
}
.fa-cc-amazon-pay{
	color: #F09204;
}
.fa-paypal{
	color: #1A97DA;
}



/*CHART*/

#chart{
	margin: 10px 10px -2px;
	padding: 0;
	/* line-height: 27px; */
	font-size: 18px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	text-align: center;
	vertical-align: top;
}

.chart-container{
	position: relative;
	width:100%;
	/* max-width: 400px; */
	text-align: center;
	display: inline-block;
}

.nav-tabs{
	background: whitesmoke;
}

.nav-tabs>li>a{
	border-radius: 0;
	padding: 7px 15px;
	color: #555;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border-top: none;
	padding-bottom: 8px;
}

.tab-content{
  background: #222222;
  padding: 11px 4px 0px 2px;
  display: block;
  width: 100%;
}

/*STATUS*/

#status{
  padding: 5px 3px 3px;
  text-align: center;
  font-size: 14px;
}

/* NOTIFICATIONS */

#notifications{
  list-style: none;
  padding: 0px 9px 0px;
  margin-top: 1px;
  margin-bottom: -10px;
  display: block;
}

  #notifications li{
  		background: #5f4905;
  		border-radius: 0;
  		padding: 10px 8px;
  		line-height: 15px;
  		border:1px solid orange;
  		text-align: center;
  		margin-bottom: 6px;
    }

  #notifications li a{
    color: white;
    text-decoration: underline;
  }

    #notifications li.colapsado{
      background: #6c0e0d;
      border-color:#e80132;
      display: none;
    }

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    background:#F44336;
  }
}


/*VERSION WEB---------------------------*/

@media (min-width: 1000px){

	body{
	    background: black;
	}

	.pantalla.completa{
		width: 70%;
	    left: 50%;
	    margin-left: -35%;
	}

	#movimientos h3{
		width: 70%;
	}

	.pantalla.completa .footer{
		width: 70%;
	}

	#menu-btn{
		line-height: 56px;
	}

	.pantalla.modal .checkbox input{
		top: -1px;
	}

  .modal-holder{
    width: 450px!important;
  }

  #apartados{
    padding-top: 0;
  }

  #apartados > li{
    width: calc(50% - 10px);
    display: inline-block;
    margin: 5px;
  }

  #methods{
    width: calc(50% - 0px);
    display: inline-block;
    padding-right: 3px;
    margin: 0!important;
    vertical-align: top;
    padding-top: 0!important;
  }

  #chart{
    width: calc(50% - 19px);
    display: inline-flex;
    margin: 0;
    border-radius: 0;
    background: #222323;
    height: 139px;
    align-items: center;
  }
  .tab-content{
	padding: 13px 45px 0 25px;
  }

  #notifications{
    margin-bottom: 6px;
  }

  #movimientos #lista > li{
    width: calc(50% - 6px);
    display: inline-block;
    margin: 0 3px 6px;
  }

  #methods li{
    padding: 1px 3px 1px;
    height: 52px;
    vertical-align: top;
  }

}
